/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.no-margins {
  margin: 0 !important;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-items {
  display: flex;
  align-items: center;
}

.page {
  width: 80%;
  margin: 2rem auto;
}

.mat-mdc-snack-bar-container {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  bottom: auto !important;

  &.snackbar-success {
    --mdc-snackbar-container-color: #3f51b5;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.snackbar-error {
    --mdc-snackbar-container-color: #ff4081;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.has-header {
  .mat-mdc-snack-bar-container {
    top: 4rem !important;
  }
}
