mat-form-field {
  width: 100%;
  margin-top: 2rem;

  &.half-width {
    width: 50%;
  }
}

.buttons {
  margin-top: 6rem;

  button {
    &.full {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
