:host {
  display: contents;
}

form {
  width: 100%;

  &.half-width {
    width: 50%;
  }
}

.form-field {
  mat-form-field, mat-checkbox {
    width: 100%;
  }

  mat-checkbox {
    margin-bottom: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.buttons {
  margin-top: 1rem;

  &.admin-page {
    margin-top: 3rem;
  }

  button {
    &.full {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
