:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-wrapper {
  display: flex;
  margin-bottom: 2rem;
}

mat-cell, mat-header-cell {
  padding: 0.5rem;
}

mat-paginator {
  margin-top: 2rem;
}
