<div class="page">
  <div class="mat-headline-4">Role List</div>

  <div class="page-content">
    <div class="role-content">
      <mat-table [dataSource]="roleList" *cdpPermissions="{ allowedPermissions: ['list_roles'] }">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="permissions">
          <mat-header-cell *matHeaderCellDef>Permissions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-template *ngIf="element.permissions.length; else noPermissions">
              {{ element.permissions | arrayToString:'name' }}
            </ng-template>
            <ng-template #noPermissions>
              <i>No permissions</i>
            </ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="align-center">
            <ng-container
              *cdpPermissions="{
                allowedPermissions: ['view_roles', 'update_roles', 'delete_roles']
              }"
            >
              Actions
            </ng-container>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-center">
            <a
              mat-icon-button
              [routerLink]="['/role', element.id]"
              matTooltip="Update"
              *cdpPermissions="{ allowedPermissions: ['update_roles'] }"
            >
              <mat-icon color="primary">edit</mat-icon>
            </a>

            <a
              mat-icon-button
              [routerLink]="['/role', element.id]"
              matTooltip="View"
              *cdpPermissions="{
                allowedPermissions: ['view_roles'],
                disallowedPermissions: ['update_roles']
              }"
            >
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </a>

            <button
              mat-icon-button
              (click)="deleteRole(element.id, element.name)"
              matTooltip="Delete"
              *cdpPermissions="{ allowedPermissions: ['delete_users'] }"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[1, 5, 10, 20]"
      [pageSize]="perPage"
      [length]="total"
      [pageIndex]="page"
      showFirstLastButtons
      (page)="onPageEvent($event)"
    ></mat-paginator>
  </div>
</div>
