<div class="page">
  <div class="mat-headline-4">User List</div>

  <div class="page-content">
    <div class="user-content">
      <div class="create-wrapper" *cdpPermissions="['create_users']">
        <a mat-raised-button [routerLink]="'/user/create'" color="primary">Create User</a>
      </div>
      <mat-table [dataSource]="userList" *cdpPermissions="['list_users']">

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.role.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="align-center">
            <ng-container *cdpPermissions="['update_users', 'delete_users']">
              Actions
            </ng-container>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-center">
            <ng-container
              *cdpPermissions="element.immutable ? [] : ['update_users']; else viewButton"
            >
              <a mat-icon-button [routerLink]="['/user', element.id]" matTooltip="Update">
                <mat-icon color="primary">edit</mat-icon>
              </a>
            </ng-container>

            <ng-template #viewButton>
              <ng-container *cdpPermissions="['view_users']">
                <a mat-icon-button [routerLink]="['/user', element.id]" matTooltip="View">
                  <mat-icon color="primary">remove_red_eye</mat-icon>
                </a>
              </ng-container>
            </ng-template>

            <ng-container *cdpPermissions="element.immutable ? [] : ['delete_users']">
              <button
                mat-icon-button
                (click)="deleteUser(element.id, element.email)"
                matTooltip="Delete"
              >
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[1, 5, 10, 20]"
      [pageSize]="perPage"
      [length]="total"
      [pageIndex]="page"
      showFirstLastButtons
      (page)="onPageEvent($event)"
    ></mat-paginator>
  </div>
</div>
