<div class="page">
  <div class="mat-headline-4">User Page</div>

  <ng-container *cdpPermissions="userData?.immutable ? [] : ['update_users']; else viewUser">
    <cdp-update-user-form
      page="updateUser"
      *ngIf="userData"
      [updateData]="userData"
      (cdpSubmit)="onSubmit($event)"
      (cdpCancel)="onCancel()"
    />
  </ng-container>

  <ng-template #viewUser>

    <div class="list">
      <div class="list-item">
        <h4 matListItemTitle>Email:</h4>
        <h3 matListItemLine>{{ userData?.email }}</h3>
      </div>

      <div class="list-item">
        <h4 matListItemTitle>First Name:</h4>
        <h3 matListItemLine>{{ userData?.firstName }}</h3>
      </div>

      <div class="list-item">
        <h4 matListItemTitle>Last Name:</h4>
        <h3 matListItemLine>{{ userData?.lastName }}</h3>
      </div>

      <div class="list-item">
        <h4 matListItemTitle>Role:</h4>
        <h3 matListItemLine>{{ userData?.role?.name }}</h3>
      </div>
    </div>

    <div class="buttons admin-page align-items">
      <a
        mat-raised-button
        type="button"
        color="primary"
        [routerLink]="['/user']"
      >
        Back
      </a>
    </div>

  </ng-template>
</div>
