<mat-toolbar color="primary">
  <div class="space-between align-items full-width">
    <div class="align-items">
      <div class="mat-headline-5 no-margins">Cyrillic Demo Project</div>
    </div>
    <div class="align-items">
      <span class="mat-body-1 no-margins" *ngIf="(profileData | async)?.firstName">
        Welcome, <span class="">{{ (profileData | async)?.firstName }}</span>
      </span>
      <button mat-icon-button class="account-button" [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <a
          mat-menu-item
          [routerLink]="['/']"
          [class]="{ 'selected-item': urlContains('/', true)}"
        >
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </a>
        <a
          mat-menu-item
          [routerLink]="['/user']"
          [class]="{ 'selected-item': urlContains('/user')}"
          *cdpPermissions="['list_users']"
        >
          <mat-icon>supervisor_account</mat-icon>
          <span>User Management</span>
        </a>
        <a
          mat-menu-item
          [routerLink]="['/role']"
          [class]="{ 'selected-item': urlContains('/role')}"
          *cdpPermissions="['list_roles']"
        >
          <mat-icon>assignment_ind</mat-icon>
          <span>Role Management</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
