<form #verifyForm="ngForm" (submit)="onSubmit(verifyForm)">
  <div class="form-field verify-input">
    <mat-form-field appearance="outline">
      <mat-label>Verification Code</mat-label>
      <input matInput name="verificationCode" required ngModel #verificationCode="ngModel" />
      <mat-error *ngIf="verificationCode.invalid && verificationCode.errors?.['required']">
        Please enter your 6-digit verification code.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [class]="{ 'full-width': !showCancel }"
    >
      Verify
    </button>
    <ng-container *ngIf="showCancel">
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </ng-container>
  </div>
</form>
