:host {
  display: contents;
}

.mfa {
  width: 50%;
  padding: 0 8rem;
}

.qrcode {
  width: 100%;

  canvas {
    width: 100%;
  }
}

.totp-hint {
  margin-bottom: 1rem;
}

mat-list-item {
  padding: 0;
}
